<ion-content style="background: #f6f6f6;">
  <div id="parent">
    <ion-row>
      <ion-col col-12
               style="height: 250px; margin-top: -20px;  border-radius: 0px 0px 0px 90px;">
        <div id="child">
          <img src="assets/imgs/iconlogo.png"
               style="max-width: -webkit-fill-available;height: 100px; border: 0;" />
          <!-- &nbsp; &nbsp;
          <span style="color: white; font-size: x-small;">
          </span>
          <p style="margin-left: 117px; margin-top: -80px;color: white; font-size: 25px;">
            Automap Pro
          </p> -->
        </div>
      </ion-col>
    </ion-row>
    <form [formGroup]="loginForm" style="margin-top: 50px;">
      <div class="temp">
        <ion-row style="padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid;
        border-radius: 40px;
        width: 85%;
        margin: auto;
        height: 60px;">
          <ion-col col-2
                   style=" text-align: center; border-radius: 39px; height: 50px;">
            <ion-icon name="person"
                      style="color: gray; font-size: 20px; margin: 8px;">
            </ion-icon>
          </ion-col>
          <ion-col col-10>
            <ion-input formControlName="username"
                       placeholder="{{'Email/Mobile/User Id*' | translate}}"
                       type="text">
            </ion-input>
          </ion-col>
        </ion-row>
      </div>
      <ion-item *ngIf="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)"
                class="logitem1">
        <p>{{'username required!' | translate}}</p>
      </ion-item>

      <div class="temp">
        <ion-row style="padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid;
        border-radius: 40px;
        width: 85%;
        margin: auto;
        height: 60px;">
          <ion-col col-2
                   style=" text-align: center; border-radius: 39px; height: 50px;">
            <ion-icon name="lock"
                      style="color: gray; font-size: 20px; margin: 8px;">
            </ion-icon>
          </ion-col>
          <ion-col col-8>
            <ion-input *ngIf="!showPassword"
                       formControlName="password"
                       placeholder="{{'Password*' | translate}}"
                       type="password">
            </ion-input>
            <ion-input *ngIf="showPassword"
                       formControlName="password"
                       placeholder="{{'Password*' | translate}}"
                       type="text">
            </ion-input>
          </ion-col>
          <ion-col col-2>
            <button (click)="toggleShowPassword()" clear ion-button item-end>
              <ion-icon *ngIf="showPassword"
                        color="red"
                        name="eye"
                        style="font-size: 1em;">
              </ion-icon>
              <ion-icon *ngIf="!showPassword"
                        color="red"
                        name="eye-off"
                        style="font-size: 1em;">
              </ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </div>
      <ion-item *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)"
                class="logitem1">
        <p>{{'Password required!' | translate}}</p>
      </ion-item>
    </form>
    <span (tap)="forgotPassFunc()" style="margin-left: 207px;">
      Reset Password
    </span>
    <div (tap)="userlogin()" class="btnDiv">
      <button class="btnLog"
              color="gpsc"
              ion-button
              style="background: #d80622;">
        LOGIN
      </button>
    </div>
    <ion-footer>
      <ion-row>
        <ion-col col-12
                 style="height: 250px; margin-top: -30px; background-image: linear-gradient(to right top, #ed1b24, #d9171f, #c6131a, #b30e16, #a10a11); border-radius: 0px 104px 0px 0px;">
          <ion-row style="margin-top: 20px;">
            <ion-col col-2></ion-col>

            <ion-col (click)="gotodemopage()" col-3>
              <ion-icon name="keypad" style="font-size: 2.2em;color: white;">
              </ion-icon>
              <br />
              <span style="margin-left: -26px; color: white;">Demo Login</span>
            </ion-col>

            <ion-col col-3>
              <a [attr.href]="'https://api.whatsapp.com/send?phone=' + '+91' + sales_contact"
                 style="color: black;">
                <ion-icon name="logo-whatsapp"
                          style="font-size: 2.2em;color: white;">
                </ion-icon>
                <br />
                <span style="margin-left: -18px;color: white;">Whastapp</span>
              </a>
            </ion-col>

            <ion-col (click)="dialNumber(support_contact)" col-3>
              <ion-icon name="call"
                        style="font-size: 2.2em; margin-left: -5px;color: white;">
              </ion-icon>
              <br />
              <span style="margin-left: -18px;color: white;">Support</span>
            </ion-col>
          </ion-row>
        </ion-col>
        
      </ion-row>
    </ion-footer>
  </div>
</ion-content>
<!-- <ion-content style="background: #f6f6f6;">

  <div>
    <ion-row>
      <ion-col col-12 style= "height: 250px; margin-top: -20px;  border-radius: 0px 0px 0px 90px;">
  
        <ion-row style="
        margin-top: 23%;
        height: 45px;
        ">
          <ion-col col-1 style="">

          </ion-col>
          <ion-col col-10 style="">
             <img src="assets/imgs/iconlogo.png" style="max-width: -webkit-fill-available;height: 100px; border: 0;margin-left: 67px;">
              &nbsp; &nbsp;<span style="color: white; font-size: x-small;"> </span>
            <div style="text-align: center;">
            
            </div>
          </ion-col>
          <ion-col col-1 style="">

          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <form [formGroup]="loginForm" style="margin-top: 50px;">
      <div class="temp">
        <ion-row style="padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid;
        border-radius: 40px;
        width: 85%;
        margin: auto;
        height: 60px;">
          <ion-col col-2 style=" text-align: center; border-radius: 39px; height: 50px;">
            <ion-icon name="person" style="color: gray; font-size: 20px; margin: 8px;"></ion-icon>
          </ion-col>
          <ion-col col-10>
            <ion-input formControlName="username" type="text" placeholder="{{'Email/Mobile/User Id*' | translate}}"></ion-input>
          </ion-col>
        </ion-row>
      </div>
      <ion-item class="logitem1" *ngIf="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)">
        <p>{{'username required!' | translate}}</p>
      </ion-item>

      <div class="temp">
        <ion-row style="padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid;
        border-radius: 40px;
        width: 85%;
        margin: auto;
        height: 60px;">
          <ion-col col-2 style=" text-align: center; border-radius: 39px; height: 50px;">
            <ion-icon name="lock" style="color: gray; font-size: 20px; margin: 8px;"></ion-icon>
          </ion-col>
          <ion-col col-8>
            <ion-input formControlName="password" *ngIf="!showPassword" type="password" placeholder="{{'Password*' | translate}}" ></ion-input>
            <ion-input formControlName="password" *ngIf="showPassword" type="text" placeholder="{{'Password*' | translate}}" ></ion-input>

          </ion-col>
          <ion-col col-2>
            <button ion-button clear item-end (click)="toggleShowPassword()">
              <ion-icon style="font-size: 1em;" *ngIf="showPassword" name="eye" color="red"></ion-icon>
              <ion-icon style="font-size: 1em;" *ngIf="!showPassword" name="eye-off" color="red"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </div>
      <ion-item class="logitem1" *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
        <p>{{'Password required!' | translate}}</p>
      </ion-item>
    </form>
    <span style="margin-left: 207px;" (tap)="forgotPassFunc()">Reset Password</span>
    <div class="btnDiv" (tap)="userlogin()">
      <button ion-button class="btnLog" color="gpsc" style="background: #d80622;">
        LOGIN
      </button>
    </div>

    <ion-footer>

        <ion-row>

          <ion-col col-12 style= "height: 250px; margin-top: -30px; background-image: linear-gradient(to right top, #ed1b24, #d9171f, #c6131a, #b30e16, #a10a11); border-radius: 0px 104px 0px 0px;">
            <ion-row style="margin-top: 20px;">
              <ion-col col-2>

              </ion-col>

              <ion-col col-3 (click)="gotodemopage()">
                <ion-icon name="keypad" style="font-size: 2.2em;color: white;"></ion-icon>
                <br>
                <span style="margin-left: -26px; color: white;">Demo Login</span>
              </ion-col>

              <ion-col col-3>
                <a [attr.href]="'https://api.whatsapp.com/send?phone=' + '+91' + sales_contact" style="color: black;">
                <ion-icon name="logo-whatsapp" style="font-size: 2.2em;color: white;"></ion-icon>
                <br>
                <span style="margin-left: -18px;color: white;">Whastapp</span>
              </a>
              </ion-col>

              <ion-col col-3 (click)="dialNumber(support_contact)">
                <ion-icon name="call" style="font-size: 2.2em; margin-left: -5px;color: white;"></ion-icon>
                <br>
                <span style="margin-left: -18px;color: white;">Support</span>
              </ion-col>
            </ion-row>
          </ion-col>

        </ion-row>

    </ion-footer>
  </div>

  </ion-content> -->

