page-demo {

  .warning {
    position: absolute;
    // padding: 20% 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.65);
    backdrop-filter: contrast(4) blur(20px);
}

#outer{
    background: url("../assets/imgs/tendencias-en-innovacion-tecnologica-y-proptechs-inmobiliarias-533x337xsmart-cities-opt.jpg.pagespeed.ic_.zsvuwxwqfv-2018-03-02_12-58-50_266848.jpg") no-repeat center center;
    background-repeat:no-repeat;
    background-size:cover;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align: center;
}
.btnLog {
    width: 85%;
    height: 50px;
    border-radius: 40px;
}

.logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 45%;
    height: 18%;
    margin: 25% auto 7px  auto;
    text-align: center;

    img {
        height: 120px;
    }
}

.logitem {
    background-color: transparent;
    padding-bottom: 5px;

    ion-input {
        color: #ffffff;
        ::placeholder {
            color: #ffffff;
        }
    }
    border: 2px solid rgba(255, 255, 255, 0.842);
    border-radius: 5px;
}
.logitem1 {
    background-color: transparent;

    p {
        color: #ea6153;
        margin: 0;
        padding: 0;
    }
}
.temp{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
ion-input {
    background-color: transparent;
    // padding: 5px 10px;
    // border: 2px solid rgba(255, 255, 255, 0.842);
    // border-radius: 5px;
}

.item-md.item-block .item-inner,
.item-ios.item-block .item-inner {
    padding-right: 8px;
    border: none;
}

.btnDiv {
    padding-left: 9px;
    padding-right: 11px;
    padding-top: 5px;
    text-align: center;
}

   .first {
  height: 300px;
  width: 100%;
  background: white;
  text-align: center;
  padding: 15px;
  background: #227094;
}

.image {
  max-width: 100%;
  border: 0;
  height: 240px;
  width: 80%;
  margin-top: 40px;
  padding: inherit;
}

.footer {
  height: 80px;
  width: 100%;
  //border: 1px solid;
  margin-bottom: 0px;
  margin-top: 20%;
  background: #3a72a5;
}

.toolbar-background-md {
  border-color: #b2b2b2;
  background: #3a72a5;
  text-align: center;
}

.toolbar-title-md {
color: white;
}

.last {
padding: 6px;
text-align: center;
border: 1px solid;
color: white;
background: content-box;
margin-top: 6%;
border-radius: 30px
}

.btnCustom {
  height: 30px;
width: 100%;
/* text-align: center; */
background: #3a72a5;
margin-top: 8%;
border-radius: 10px;
color: white;
font-size: 14px;
border: 1px solid;
}

.scroll-content {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: size style layout;
}

}
