<ion-header>
  <ion-navbar>
    <ion-title>{{ "Update Vehicle Details" | translate }}</ion-title>
    <ion-buttons end>
          <button ion-button icon-only (click)="sendSms()">
            <ion-icon name="arrow-round-forward"></ion-icon>
        </button>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="updatevehForm">
    <ion-item>
      <ion-label fixed style="min-width: 50% !important"
        >{{ "Registration Number*" | translate }}</ion-label
      >
      <ion-input
        formControlName="device_name"
        type="text"
        style="margin-left: 2px"
      ></ion-input>
    </ion-item>
    <ion-item
      class="logitem1"
      *ngIf="!updatevehForm.controls.device_name.valid && (updatevehForm.controls.device_name.dirty || submitAttempt)"
    >
      <p>{{ "registration number is required!" | translate }}</p>
    </ion-item>

    <ion-item>
      <ion-label fixed style="min-width: 50% !important"
        >{{ "IMEI" | translate }} {{ "id" | translate }}*</ion-label
      >
      <ion-input
        formControlName="device_id"
        type="text"
        style="margin-left: 2px"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed style="min-width: 50% !important"
        >{{ "Sim Number*" | translate }}</ion-label
      >
      <ion-input
        formControlName="sim_number"
        type="number"
        style="margin-left: 2px"
      ></ion-input>
    </ion-item>
    <ion-item
      class="logitem1"
      *ngIf="!updatevehForm.controls.sim_number.valid && (updatevehForm.controls.sim_number.dirty || submitAttempt)"
    >
      <p>{{ "sim number is required." | translate }}</p>
    </ion-item>

    <ion-item>
      <ion-label fixed style="min-width: 50% !important"
        >{{ "Driver Name" | translate }}</ion-label
      >
      <ion-input
        formControlName="driver"
        type="text"
        style="margin-left: 2px"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed style="min-width: 50% !important"
        >{{ "Driver's Number" | translate }}</ion-label
      >
      <ion-input
        formControlName="contact_number"
        type="number"
        maxlength="10"
        minlength="10"
        style="margin-left: 2px"
      ></ion-input>
    </ion-item>
    <ion-item
      class="logitem1"
      *ngIf="!updatevehForm.controls.contact_number.valid && (updatevehForm.controls.contact_number.dirty || submitAttempt)"
    >
      <p>{{ "mobile number sould be 10 digits!" | translate }}</p>
    </ion-item>

    <ion-item>
      <ion-label fixed style="min-width: 50% !important"
        >{{ "Speed Limit" | translate }}</ion-label
      >
      <ion-input
        formControlName="SpeedLimit"
        type="number"
        style="margin-left: 2px"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed style="min-width: 50% !important"
        >{{ "Expiry Date:" | translate }}*</ion-label
      >
      <ion-input
        type="date"
        formControlName="ExipreDate"
        min="{{minDate}}"
        style="margin-left: 2px"
      ></ion-input>
    </ion-item>
    <ion-item
      class="logitem1"
      *ngIf="!updatevehForm.controls.ExipreDate.valid && (updatevehForm.controls.ExipreDate.dirty || submitAttempt)"
    >
      <p>{{ "expiry date is required!" | translate }}</p>
    </ion-item>

    <!-- <ion-item>
          <ion-label>{{ "Device Model" | translate }}</ion-label>
          <ion-select formControlName="device_type" style="min-width:49%;">
              <ion-option *ngFor="let deviceModelname of deviceModel" [value]="deviceModelname.device_type" (ionSelect)="deviceModelata(deviceModelname)">{{deviceModelname.device_type}}</ion-option>
          </ion-select>
      </ion-item> -->
    <ion-item *ngIf="!onEditModel">
      <ion-label fixed style="min-width: 50% !important"
        >{{ "Selected Device Model" | translate }}</ion-label
      >
      <ion-input
        formControlName="device_type"
        type="text"
        style="margin-left: 20px"
      ></ion-input>
      <ion-icon
        item-end
        name="create"
        (click)="(onEditModel = true)"
        style="font-size: 1.3em"
      ></ion-icon>
    </ion-item>
    <ion-item *ngIf="onEditModel">
      <ion-label>{{'Device Model'| translate}}</ion-label>
      <select-searchable
        item-content
        formControlName="device_type"
        [items]="deviceModel"
        itemValueField="device_type"
        itemTextField="device_type"
        [canSearch]="true"
        (onChange)="deviceModelata(device_type)"
        style="min-width: 49%"
      >
      </select-searchable>
    </ion-item>
    <ion-item *ngIf="!onEditGroup">
      <ion-label fixed style="min-width: 50% !important"
        >{{ "Selected Group" | translate }}</ion-label
      >
      <ion-input
        formControlName="gName"
        type="text"
        style="margin-left: 20px"
      ></ion-input>
      <ion-icon
        item-end
        name="create"
        (click)="(onEditGroup = true)"
        style="font-size: 1.3em"
      ></ion-icon>
    </ion-item>
    <ion-item *ngIf="onEditGroup">
      <ion-label>{{ "Group" | translate }}</ion-label>
      <ion-select formControlName="gName" style="min-width: 49%">
        <ion-option
          *ngFor="let groupname of allGroup"
          [value]="groupname.name"
          (ionSelect)="GroupStatusdata(groupname)"
          >{{groupname.name}}</ion-option
        >
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!onEditUser">
      <ion-label fixed style="min-width: 50% !important"
        >{{ "Selected User" | translate }}</ion-label
      >
      <ion-input
        formControlName="first_name"
        type="text"
        style="margin-left: 20px"
      ></ion-input>
      <ion-icon
        item-end
        name="create"
        (click)="(onEditUser = true)"
        style="font-size: 1.3em"
      ></ion-icon>
    </ion-item>
    <ion-item *ngIf="onEditUser">
      <!-- <ion-label>{{ "Select User" | translate }}</ion-label>
          <ion-select formControlName="first_name" style="min-width:49%;">
              <ion-option *ngFor="let user of selectUser" [value]="user.first_name" (ionSelect)="userselectData(user)">{{user.first_name}}</ion-option>
          </ion-select> -->
      <ion-label>{{ "Select User" | translate }}</ion-label>
      <select-searchable
        item-content
        formControlName="first_name"
        [items]="selectUser"
        itemValueField="first_name"
        itemTextField="first_name"
        [canSearch]="true"
        (onChange)="userselectData(first_name)"
        style="min-width: 49%"
      >
      </select-searchable>
    </ion-item>

    <ion-item *ngIf="!onEditVehicle">
      <ion-label fixed style="min-width: 50% !important"
        >{{ "Selected Vehicle Type" | translate }}</ion-label
      >
      <ion-input
        formControlName="brand"
        type="text"
        style="margin-left: 20px"
      ></ion-input>
      <ion-icon
        item-end
        name="create"
        (click)="(onEditVehicle = true)"
        style="font-size: 1.3em"
      ></ion-icon>
    </ion-item>
    <ion-item *ngIf="onEditVehicle">
      <ion-label>{{'Vehicle Type'| translate}}</ion-label>
      <select-searchable
        item-content
        formControlName="brand"
        [items]="allVehicle"
        itemValueField="brand"
        itemTextField="brand"
        [canSearch]="true"
        (onChange)="vehicleTypeselectData(brand)"
        style="min-width: 49%"
      >
      </select-searchable>
    </ion-item>
  </form>
</ion-content>

<ion-footer class="footSty">
  <ion-toolbar>
    <ion-row>
      <ion-col style="text-align: center">
        <button ion-button clear color="light" (click)="updateDevices()">
          {{ "UPDATE VEHICLE DETAILS" | translate }}
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
