<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"Message Utility" | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <span>SEND TO *:</span>&nbsp;&nbsp;&nbsp;
  <input (click)="getmodel(DealerArraySearch)"
         [checked]="cond"
         id="male"
         name="gender"
         type="radio"
         value="male" />
  <label (click)="getmodel(DealerArraySearch)" for="male">Dealers</label>
  <br />
  <input (click)="getmodel(CustomerArraySearch)"
         [checked]="cond"
         id="female"
         name="gender"
         style="margin-left: 83px;"
         type="radio"
         value="female" />
  <label (click)="getmodel(CustomerArraySearch)" for="female">
    Direct Customer
  </label>
  <br />
  <input [(ngModel)]="model"
         id="other"
         name="gender"
         style="margin-left: 83px;"
         type="radio"
         value="other"
         (click)="executeThis()" />
  <label for="other">Dealer's Customer</label>

  <div *ngIf="model === 'other'">
    <ion-item style="padding: 0px;">
      <ion-label style="margin-top: 15px;">
        {{'Select Dealers' | translate}}
      </ion-label>
      <select-searchable (onChange)="dealerOnChnage(dealer_firstname)"
                         [(ngModel)]="dealer_firstname"
                         [canSearch]="true"
                         [items]="selectDealer"
                         item-content
                         itemTextField="dealer_firstname"
                         itemValueField="dealer_firstname"
                         selectAll="true"
                         style="padding: 0px;margin-top: -1%;">
      </select-searchable>
    </ion-item>
  </div>

  <div *ngIf="model !== 'other'"></div>

  <textarea [(ngModel)]="titleMsg"
            placeholder="Enter the title of the message"
            style="height: 55px;width: 100%;margin-top: 20px;">
  </textarea>

  <textarea [(ngModel)]="fullMsg"
            placeholder="Enter the full message here"
            style="height: 255px;width: 100%;margin-top: 20px;">
  </textarea>
  <ion-footer class="footSty">
    <ion-toolbar>
      <ion-row no-padding>
        <ion-col style="text-align: center;" width-50>
          <button (click)="sendmsg()" clear color="light" ion-button>
            SEND
          </button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</ion-content>
